* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Allerta", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --verde: #5cff95;
  --azul: #101b31;
  --branco: #ffff;
  font-family: "Allerta", sans-serif;
}

.header {
  background: url(./assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  & .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  & .logo {
    width: 500px;
  }
  & .title {
    width: 400px;
    color: var(--branco);
    font-size: 3.4rem;
    text-align: center;
  }
}

.to-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & .subtitle {
    width: 420px;
    color: var(--branco);
    font-size: 2rem;
    text-align: right;
    line-height: 2.5rem;
  }
  & .down {
    height: 80px;
    color: #fff;
  }
}
.cadeado {
  width: 450px;
}

.content {
  min-height: 100vh;
  background: rgb(16, 27, 49);
  background: -moz-linear-gradient(
    180deg,
    rgba(16, 27, 49, 1) 50%,
    rgba(92, 255, 149, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(16, 27, 49, 1) 50%,
    rgba(92, 255, 149, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(16, 27, 49, 1) 50%,
    rgba(92, 255, 149, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#101b31",endColorstr="#5cff95",GradientType=1);
}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 60px;
}

.l-side {
  display: flex;
  flex-direction: column;
  gap: 40px;

  & .title1 {
    color: var(--verde);
    font-size: 2.6rem;
    width: 500px;
    text-align: center;
  }
  & .title2 {
    color: var(--branco);
    font-size: 1.7rem;
    text-align: center;
  }
  & .title3 {
    color: var(--verde);
    font-size: 2.1rem;
    width: 500px;
    text-align: center;
  }
}

.r-side form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  color: var(--verde);
  font-size: 1rem;
  margin: 10px 0 5px;
}

.campo input,
textarea {
  font-size: 1rem;
  line-height: 2rem;
  padding: 4px 6px;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 500px;
}

.campo input:focus,
textarea:focus {
  background-color: #f2f2f2;
  outline: 2px solid var(--verde);
}

button {
  background-color: var(--verde);
  color: var(--azul);
  font-weight: bold;
  font-size: 1rem;
  padding: 12px 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.1s;
}

button:hover {
  -webkit-box-shadow: 2px 5px 10px -2px rgba(16, 27, 49, 0.32);
  -moz-box-shadow: 2px 5px 10px -2px rgba(16, 27, 49, 0.32);
  box-shadow: 2px 5px 10px -2px rgba(16, 27, 49, 0.32);
  outline: 2px solid var(--azul);
  scale: 101%;
}

.empresas {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.acessorados {
  font-size: 2.5rem;
  width: 400px;
  text-align: center;
  color: var(--azul);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.logos {
  & .blck img {
    height: 120px;
    transition: all 0.2s;
  }
  & .villareal img {
    height: 150px;
    transition: all 0.2s;
  }
  & .hodie img {
    height: 150px;
    transition: all 0.2s;
  }
}

.logos img:hover {
  scale: 105%;
}

.obrigado {
  background: url(./assets/wallpaper.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .text-content {
    margin-top: 100px;
    text-decoration: none;
  }
  & .text-content p {
    font-size: 3rem;
    text-align: center;
    color: var(--branco);
    line-height: 4rem;
    font-weight: bold;
  }
}

.back {
  margin-top: 250px;
  transition: all 0.2s;
}
.back a {
  font-size: 1.2rem;
  padding: 10px;
  color: var(--azul);
  text-decoration: none;
}
.back:hover {
  scale: 110%;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  & i {
    font-size: 2rem;
    color: var(--azul);
    margin: 20px 10px 20px 10px;
    transition: all 0.2s;
  }
  & p {
    color: var(--azul);
    text-align: center;
    font-height: light;
    line-height: 2rem;
  }
  & p a {
    text-decoration: none;
    color: var(--azul);
  }
}

.rodape i:hover {
  scale: 120%;
}

@media (max-width: 500px) {
  .header {
    background-position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    & .left {
      width: 100vw;
      gap: 30px;
    }
    & .logo {
      width: 70%;
    }
    & .title {
      width: 80%;
      font-size: 2.4rem;
    }
  }

  .to-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    & .subtitle {
      font-size: 1.2rem;
      text-align: right;
      line-height: 1.8rem;
    }
    & .down {
      height: 60px;
      color: #fff;
    }
  }
  .cadeado {
    width: 70vw;
    margin: 20px;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }

  .l-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    & .title1 {
      font-size: 1.5rem;
      width: 100vw;
    }
    & .title2 {
      font-size: 1rem;
      text-align: center;
      width: 100vw;
    }
    & .title3 {
      font-size: 1.2rem;
      width: 100vw;
    }
  }

  .campo label {
    text-align: center;
  }

  .campo input,
  textarea {
    width: 90vw;
    padding: 5px 5px;
    line-height: 1.5rem;
  }

  button {
    width: 90vw;
  }

  .empresas {
    flex-direction: column;
  }
  .acessorados {
    font-size: 1.6rem;
    width: 100vw;
    color: var(--verde);
  }

  .logos {
    flex-direction: column;
    gap: 40px;
    & .hodie img {
      height: 130px;
      transition: all 0.2s;
    }
  }

  .rodape {
    font-size: 0.8rem;
    padding: 20px 10px;
  }

}
